/* __________________________________________________________________________________________________________________________________ 디버깅용 코드 s */
* {
	/* outline: dashed 1px red;   */
}
/* __________________________________________________________________________________________________________________________________ 디버깅용 코드 e */


.blank202311041318 {
	align-items: center;
	background-color: white;
	display: flex;
	height:1px;
	/* justify-content: center; */
	/* position: relative; */
	
	
	
}
.container202311041315 {
	/* font-family: Merriweather, Georgia, serif; */
	/* line-height: 100px; */
	/* width: 300px; */
	background-color: white;
	color: black;
	font-family: Merriweather, Georgia, serif;
	/* font-size: 21px; */
	/* height:800px; */
	/* position: relative; */
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
	
	
	
}
.container202311041316 {
	background-color: white;
	color: black;
	font-family: Merriweather, Georgia, serif;
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: left;
	text-indent: 10px;
	
	
}
.image202311041316 {
	/* font-family: 'Noto Sans KR', sans-serif; */
	/* font-family: 'Noto Serif KR', serif; */
	/* line-height: 300px; */
	/* align-items: center; */
	/* color: black; */
	/* display: flex; */
	/* display: inline-block;  */
	/* font-family: 'Playfair Display', serif; */
	/* justify-content: center; */
	/* margin: 0 auto; */
	/* text-align: center; */
	/* width:270px; */
	/* width:90%; */
	height:20%; 
	
	
	
} 
.image202311041317 {
	/* font-family: 'Noto Sans KR', sans-serif; */
	/* font-family: 'Noto Serif KR', serif; */
	/* line-height: 300px; */
	/* align-items: center; */
	/* color: black; */
	/* display: flex; */
	/* display: inline-block;  */
	/* font-family: 'Playfair Display', serif; */
	/* justify-content: center; */
	/* margin: 0 auto; */
	/* text-align: center; */
	/* width:50%; */
	width:40px;
	/* height:40%;  */
	
	
	
} 
.image202311062148 {
	width:100px;
	
	
}  

/* __________________________________________________________________________________________________________________________________ 하이퍼링크 s */
a{
	text-decoration: none;
}
a:link {
	color : black;
}
a:visited {
	color : black;
}
a:hover { 
	color : black;
}
a:active {
	color : black;
}
/* __________________________________________________________________________________________________________________________________ 하이퍼링크 e */
 
.row202311060247 {
	height:55px;
	width: 1205px;
	
	align-items: center;
	display: flex;
	justify-content: space-around;
	text-align: center;
	
	
	
	
}

.row202311060248 {
	height:105px;
	width: 1205px;
	
	align-items: center;
	display: flex;
	justify-content: space-around;
	text-align: center;
	
	
	
	
}
.cell202311060208 {
	display: inline;/* div 태그를 span 태그처럼 되도록 속성을 붙이는 방법 */
	
	
	
}
.cell202311060209{
	display: inline;/* div 태그를 span 태그처럼 되도록 속성을 붙이는 방법 */
	font-weight: 900;
	
	
	
}

 
.divider202311060208 {
	
	
	
	height : 1px;
	width: 1150px;
	background-color: rgb(245, 243, 243);
}
.text202311062159{
	color: rgb(228, 227, 227);
	font-size: 11px;
	font-family: 'Nanum Gothic', sans-serif;
	/* font-family: 'Noto Sans KR', sans-serif; */
	
}
.text202311062200{
	color: rgb(0, 0, 0);
	font-size: 13px;
	font-family: 'Nanum Gothic', sans-serif;
	/* font-family: 'Noto Sans KR', sans-serif; */
	
	font-weight: 500;
}
.text202311062201{
	color: rgb(0, 0, 0);
	font-size: 22px;
	font-family: 'Nanum Gothic', sans-serif;
	/* font-family: 'Noto Sans KR', sans-serif; */
	
	font-weight: 900;
}




/* mkr */ 