<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>퍼피갤러리 관리자 페이지</title>
    
    <!-- <link rel="stylesheet" href="css/style.css" /> -->
    <!-- 사용자 스크립트 DATA 영역 -->
    

  </head>
  <body>
    <!-- <link href="/static/dist/css/bootstrap.min.css___________" rel="stylesheet" /> -->
    <!-- <link href="/static/signin.css___________" rel="stylesheet" /> -->
    <!-- <img src="/static/brand/bootstrap-solid.svg___________" /> -->
	________2
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <!-- <script src="js/scripts.js"></script> -->

    <a href="/commutation_checking">근태관리</a>
  </body>
</html>