<!DOCTYPE html>
<html lang="en">
<head>
    <title>직원 FAQ 게시판</title>
</head>
<body> 
    <h1>직원 FAQ 게시판</h1>
    <br> 
    {# jinja2 template 의 주석 #}

    {% if name %}
        <h1>당신은 {{ name['id'] }} 이군요!</h1>
        <h1>당신은 {{ name['login_time'] }} 에  로그인 하셨군요!</h1>
    {% else %}
        <h1>당신은 누구신가요?</h1>
    {% endif %}
    <br>

  
    <h1>목록</h1>
    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>
    <br>

    

    <h1>직원 시스템 서버로 파일을 업로드</h1>
    <form name="form_file_transfer" action="/employee/upload" enctype="multipart/form-data" method="post" autocomplete="off">
         <input type="text" name="filename"/>
        <input type="file" name="file">
        <input type="submit"> 
    </form>

</body>
</html>