<!DOCTYPE html>
<html lang="ko">

<head>
    <title>업무 자동화 프로그램 배포 서비스</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


    <!-- 구글 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@800&family=Noto+Serif+KR:wght@200&family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">


    <!-- 커스텀 -->
    <link rel="stylesheet" href="/static/css/custom202311072244.css">


</head>
<body>
<!-- __________________________________________________________________________________________________________________________________ blank202311041318 s  -->
<script>
		for (var i = 1; i <= 100; i++) {
			document.write("<div class='blank202311041318'></div>");
		}

</script>
<!-- __________________________________________________________________________________________________________________________________ blank202311041318 e  -->

<!-- __________________________________________________________________________________________________________________________________ image202311060220 s -->
<div class="container202311041315">
    <img class="image202311062148" src="/static/imgs/icon_program.png" alt="이미지를 불러오지 못하였습니다." title="">
</div>
<!-- __________________________________________________________________________________________________________________________________ image202311060220 e -->


<!-- __________________________________________________________________________________________________________________________________ 공백 s  -->
<script>
		for (var i = 1; i <= 30; i++) {
			document.write("<div class='blank202311041318'></div>");
		}

</script>
<!-- __________________________________________________________________________________________________________________________________ 공백 e  -->


<!-- __________________________________________________________________________________________________________________________________ image202311060220 s -->
<div class="container202311041315">
    <blockquote class="text202311062201">
        업무 업무자동화 프로그램 공유 게시판
    </blockquote>
</div>
<!-- __________________________________________________________________________________________________________________________________ image202311060220 e -->


<!-- __________________________________________________________________________________________________________________________________ image202311060220 s -->
<div class="container202311041315">
    <div class="text202311062200">
        사용법
    </div>
</div>
<!-- __________________________________________________________________________________________________________________________________ image202311060220 e -->


<!-- __________________________________________________________________________________________________________________________________ 공백 s  -->
<script>
		for (var i = 1; i <= 30; i++) {
			document.write("<div class='blank202311041318'></div>");
		}

</script>
<!-- __________________________________________________________________________________________________________________________________ 공백 e  -->


<!-- __________________________________________________________________________________________________________________________________ image202311060220 s -->
<div class="container202311041316">
    <div>
        <ol>
            <li class="text202311062159">필요한 자동화 프로그램명 확인</li>
            <li class="text202311062159">접속한 운영체제와 프로그램 운영체제 지원범위 확인</li>
            <li class="text202311062159">다운로드 버튼을 클릭</li>
            <li class="text202311062159">프로그램 사용</li>
        </ol>
    </div>
</div>
<!-- __________________________________________________________________________________________________________________________________ image202311060220 e -->


<!-- __________________________________________________________________________________________________________________________________ chart202311060229 s -->
<div class="container202311041315">
    <div class="table202311060207">

        <!-- 부트스트랩 테이블 옵션 -->
        <!-- <table class="table table-dark table-borderless table-sm table-hover table-condensed table-responsive"> -->
        <table class="table table-borderless table-sm table-hover table-condensed ">

            <thead>
            <tr class="">
                <th class="col-md-4 ">자동화 프로그램명</th>
                <th class="col-md-4 ">운영체제 지원범위</th>
                <th class="col-md-4 ">다운로드</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="align-middle ">확장자별 폴더 정리<br>프로그램</td>
                <td class="align-middle ">Windows 10</td>
                <td class="align-middle ">
					<!-- 다운로드 테스트 시 서버에 올려서 클라이언트에서 테스트해야 다운받아야 합니다. -->
                    <a href="/static/archive/organize files by extension.bat" download="확장자별 폴더 정리 프로그램.bat">
                        <img class="image202311041317" src="/static/imgs/icon_download.png" alt="이미지를 불러오지 못하였습니다." title="">
                    </a>
                </td>
            </tr>
            <!-- <tr>
                <td class="align-middle ">foo<br>프로그램</td>
                <td class="align-middle ">foo</td>
                <td class="align-middle ">
                    <a  href="organize files by extension.bat" download="확장자별 폴더 정리 프로그램" >
                        <img class="image202311041317" src="icon_download.png" alt="이미지를 불러오지 못하였습니다." title="" >
                    </a>
                </td>
            </tr> -->
            </tbody>

        </table>


        <!-- __________________________________________________________________________________________________________________________________ divider202311060207 s -->
        <!-- <div class="divider202311060207"></div> -->
        <!-- __________________________________________________________________________________________________________________________________ divider202311060207 e -->

        <!-- <div class="row202311060247">

            <div class="row202311060248">
                <div class="cell202311060209">프로그램명</div>
            </div>

            <div class="row202311060248">
                <div class="cell202311060209">운영체제 지원범위</div>
            </div>
            <div class="row202311060248">
                <div class="cell202311060209">다운로드</div>
            </div>

        </div> -->

        <!-- __________________________________________________________________________________________________________________________________ divider202311060207 s -->
        <!-- <div class="divider202311060208"></div> -->
        <!-- __________________________________________________________________________________________________________________________________ divider202311060207 e -->


        <!-- <div class="row202311060248">
            <div class="cell202311060208">확장자별 폴더 정리<br>프로그램</div>
            <div class="cell202311060208">Windows 10</div>
            <div class="">
                <a  href="organize files by extension.bat" download="확장자별 폴더 정리 프로그램" >
                    <img class="image202311041317" src="icon_download.png" alt="이미지를 불러오지 못하였습니다." title="" >
                </a>
            </div>
        </div> -->
        <!-- 위의 a 태그의 download 옵션을 통해서 파일명을 설정할 수 있다.  -->
        <!-- 다운로드 테스트 시 서버에 올려서 클라이언트에서 테스트해야 다운받아진다. -->


        <!-- __________________________________________________________________________________________________________________________________ divider202311060207 s -->
        <div class="divider202311060208"></div>
        <!-- divider202311060208 에 따라서 table202311060207 의 width를 조절할 수 있다. -->
        <!-- __________________________________________________________________________________________________________________________________ divider202311060207 e -->

    </div>
</div>
<!-- __________________________________________________________________________________________________________________________________ chart202311060229 e -->

<!-- __________________________________________________________________________________________________________________________________ image202311060221 s -->
<!-- <div class="container202311041315">
    <img class="image202311041316" src="image202311060232.png" alt="이미지를 불러오지 못하였습니다." title="" >
</div> -->
<!-- __________________________________________________________________________________________________________________________________ image202311060221 e -->

<!-- __________________________________________________________________________________________________________________________________ 공백 s  -->
<script>
			for (var i = 1; i <= 10; i++) {
				document.write("<div class='blank202311041318'></div>");
			}

</script>
<!-- __________________________________________________________________________________________________________________________________ 공백 e  -->


<!-- 부트스트랩 -->
<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script> -->


<!-- 커스텀 -->
<!-- <script src="custom202311072244.js" crossorigin="anonymous"></script> -->


</body>

</html>
	
	
	