<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>퍼피갤러리 개발자 페이지</title>
  </head>
  <body>
    <P>TO DO</P>
    <a href="/home/login">고객 로그인</a>
    <a href="/admin/login">관리자 로그인</a>
    <a href="/employee/login">직원 로그인</a>
    <br>

    <P>ING</P> 
    <a href="/employee/login">직원 로그인</a>
    <form action="/employee/login_" method="post">
      <div>
        <label for="id">아이디</label>
        <input type="text" name="id" id="id">
      </div>
      <div>
        <label for="password">비밀번호</label>
        <input type="password" name="password" id="password">
      </div>
      <button type="submit">로그인</button>
    </form>
    <a href="/employee/join">회원가입</a>
    
    
    
    <a href="/employee/home">직원 페이지</a>
    <a href="/employee/check-commutation">근태관리</a>
    <a href="/employee/go-to-office">출근처리</a>
    <a href="/employee/leave-office">퇴근처리</a>


    네이티브 쿼리 날리기

    
    <br>

    <P>DONE</P>
    <br>

  </body>
</html>